.form-control.is-valid ~ .invalid-feedback {
    display: none;
}

#newPlace .custom-checkbox label {
    color: #444;
}

#placesContainer .card-text .badge {
    margin-left: 5px;
}

.card-text.description {
    white-space: pre-wrap;
}

#map {
    width: 100%;
    height: 300px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}
